/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* General Styles */

   html {
   	font-size: 16px;
   }

   body {
     font-size: 1em;
     font-family: 'Arsenal', sans-serif;
     color: #3b3b3b;
     background-color: #f5f5f5;
     text-align: left;
   }

   ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
   }

   a {
     color: #3b3b3b;
     text-decoration: none;
   }

   h1 {
     font-family: 'Prata', serif;
     font-size: 2.25em;
     margin: 0;
     text-align: center;
   }

   h2 {
     font-family: 'Prata', serif;
     font-size: 1.875em;
     margin: 0 0 0.5em 0;
     text-align: center;
     text-transform: uppercase;
   }

   h3,
   h4 {
     font-family: 'Prata', serif;
     font-size: 1.125em;
     margin: 20px 0;
   }

   p {
     font-size: .875em;
     line-height: 1.285;
   }

   img {
    width: 100%;
   }

   figure {
    margin: 0;
   }

   address {
    font-style: normal;
   }

   .content-wrapper {
     width: 100%;
     padding-top: 80px;
   }

   /* -------------------- Base Header - Footer Styles -------------------- */


   /* Style the navigation menu */
   .topnav {
     overflow: hidden;
     background-color: #fff;
     position: fixed;
     z-index: 99999;
     width: 100%;
     top: 0;
   }

   .topnav figure {
     display: block;
     float: left;
     clear: both;
     width: 60%;
     margin: 0;
     padding: 5%;
   }

   .topnav figure a {
     margin: 0;
     padding: 0;
   }

   .menu {
     margin: 0;
     padding: 0;
     text-align: center;
     overflow: hidden;
     clear: both;
     max-height: 0;
     transition: max-height .2s ease-out;
   }

   .menu li a {
     display: block;
     padding: 10px 10px;
     margin-right: 5%;
     font-size: 1.125em;
     text-decoration: none;
     text-transform: uppercase;
     color: #3b3b3b;
   }

   /* Style the hamburger menu and animation */

   .menu-icon {
     cursor: pointer;
     display: inline-block;
     float: right;
     padding: 9% 5%;
     position: relative;
     user-select: none;
   }

   .menu-icon .navicon {
     background: #3b3b3b;
     display: block;
     height: 3px;
     position: relative;
     transition: background .2s ease-out;
     width: 36px;
   }

   .menu-icon .navicon:before,
   .menu-icon .navicon:after {
     background: #3b3b3b;
     content: '';
     display: block;
     height: 100%;
     position: absolute;
     transition: all .2s ease-out;
     width: 100%;
   }

   .menu-icon .navicon:before {
     top: 10px;
   }

   .menu-icon .navicon:after {
     top: -10px;
   }

   .menu-btn {
     display: none;
   }

   .menu-btn:checked ~ .menu {
     max-height: 240px;
   }

   .menu-btn:checked ~ .menu-icon .navicon {
     background: transparent;
   }

   .menu-btn:checked ~ .menu-icon .navicon:before {
     transform: rotate(-45deg);
   }

   .menu-btn:checked ~ .menu-icon .navicon:after {
     transform: rotate(45deg);
   }

   .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
   .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
     top: 0;
   }

   /* Footer styles */

   footer {
     background-color: #f5f5f5;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column wrap;
     text-align: center;
   }


   /* Contact Form */

   .footer-content {
     background: url(../img/ipad-leaf.jpeg);
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column wrap;
   }

   footer h2 {
     padding-bottom: 5px;
   }

   footer .form {
     margin-top: 30px;
   }

   input[type=text], input[type=email], textarea[name="message"] {
     box-sizing: border-box;
     width: 75%;
     color: #3b3b3b;
     font-style: italic;
   }

   input[name="name"], input[name="email"] {
     padding: 0.75em 0.5em;
     margin-bottom: 1em;
   }

   textarea[name="message"] {
     padding: 0.75em 0 10em 0.5em;
     margin-bottom: 1em;
   }

   input[type=submit] {
     width: 50%;
     padding: 20px 0;
     background-color: #a89797;
     font-family: 'Arsenal', sans-serif;
     font-size: 1.125em;
     color: #fff;
     border: none;
     text-align: center;
     text-transform: uppercase;
     cursor: pointer;
   }

   input[type=submit]:hover {
     background-color: #3b3b3b;
   }

   footer .direct-contact {
     display: flex;
     justify-content: center;
     flex-flow: column nowrap;
   }

   footer #contact-info {
     font-size: 1.125em;
     margin-top: 50px;
   }

   footer .social {
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
   }

   footer .social p {
     background-color: #3b3b3b;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   footer .social p i {
     color: white;
     font-size: 1.75em;
   }

   footer .copyright {
     margin: 0;
   }

   /* -------------------- Mobile Styles - Homepage -------------------- */

   /* Nav */
    /* Hide Desktop Nav */
    .desktop-nav {
      display: none;
    }

   /* Hero Area */

   .hero-area {
     background: url(../img/white-workspace.jpeg);
     background-size: cover;
     background-position: center;
     min-height: 350px;
     display: flex;
     justify-content: center;
     flex-flow: row wrap;
   }

   .hero-area .content-wrapper {
     background-color: rgba(255, 255, 255, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 1em;
   }

   .hero-area h1 {
     width: 75%;
     font-size: 1.5em;
     margin: 0;
     padding-top: 2em;
     text-align: left;
   }


   /* Services */

   .services {
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     flex-flow: column wrap;
     width: 100%;
   }

   .service-outer-box {
     width: 250px;
     height: 250px;
     border: 1px solid #3b3b3b;
     margin: 1em;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .service-inner-box {
     width: 150px;
     height: 150px;
     border: 1px solid #3b3b3b;
     background-color: rgba(168, 151, 151, 0.9);
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: black;
   }

   a .service-inner-box:hover {
     background-color: rgba(168, 151, 151, 1.0);
     font-size: 1.2em;
   }

   .service-outer-box#web-design-service {
     background: url(../img/laptop-code.jpeg);
     background-size: cover;
     background-position: center;
   }

   .service-outer-box#logo-design-service {
     background: url(../img/notepad-plant.jpeg);
     background-size: cover;
     background-position: center;
   }

   .service-outer-box#brand-design-service {
     background: url(../img/journal.jpeg);
     background-size: cover;
     background-position: center;
   }



   /* Portfolio */

   /* Slideshow container */
   .slideshow-container {
     max-width: 1000px;
     position: relative;
     margin-top: 1em;
   }

   /* Hide the images by default */
   .mySlides {
     display: none;
   }

   /* Next & previous buttons */
   .prev, .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -22px;
     padding: 16px;
     color: #3b3b3b;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
   }

   /* Position the "next button" to the right */
   .next {
     right: 0;
     border-radius: 3px 0 0 3px;
   }

   /* On hover, add a black background color with a little bit see-through */
   .prev:hover, .next:hover {
     background-color: rgba(0,0,0,0.8);
   }

   /* The dots/bullets/indicators */
   .dot {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 2px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.6s ease;
   }

   .active, .dot:hover {
     background-color: #717171;
   }

   /* Fading animation */
   .fade {
     -webkit-animation-name: fade;
     -webkit-animation-duration: 1.5s;
     animation-name: fade;
     animation-duration: 1.5s;
   }

   @-webkit-keyframes fade {
     from {opacity: .4}
     to {opacity: 1}
   }

   @keyframes fade {
     from {opacity: .4}
     to {opacity: 1}
   }

   /* About */

   #about article {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column nowrap;
   }

   #about figure {
     width: 65%;
     max-width: 300px;
     margin: 1em;
     border: 1px solid #3b3b3b;
   }

   .bio {
     display: flex;
     justify-content: center;
     flex-flow: column nowrap;
     width: 90%;
   }

   .bio p {
     font-size: 1.125em;
     margin: 0;
   }



   /* ==========================================================================
      Web Design & Development Page
      ========================================================================== */

      /* Hero Area */

      #web-hero-area {
        background: url(../img/laptop-glasses.jpeg);
        background-size: cover;
        background-position: center;
        min-height: 350px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
      }

      #web-hero-area .content-wrapper {
        background-color: rgba(255, 255, 255, 0.75);
      }

      #web-hero-area h1 {
        text-align: center;
      }

      #web-hero-area h1 span {
        width: 75%;
        font-size: 1.3em;
        margin: 0;
        padding-top: 2em;
        text-align: center;
      }


      /* Services Breakdown Section */

      .web-services-all {
          background-color: #a89797;
          padding: 0.75em;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
      }

      .web-service-individual {
        background-color: #fff;
        width: 80%;
        padding: 1em;
        margin: 1em 0;
        border: 3px solid #3b3b3b;

      }

      .web-service-individual h3 {
        text-align: center;
        font-size: 1.5em;
      }

      .web-service-individual ul {
        list-style-type: disc;
        padding: 0 1em;
        font-size: 1.25em;
      }

      .web-service-individual p {
        font-size: 1.25em;
      }

      #web-services h3 {
        text-align: center;
        font-size: 1.25em;
        padding: 0 0.5em;
      }


      /* Responsive Designs Section */

      #web-services-about {
        width: 100%;
      }

      #web-services-about h2 {
        margin: 0;
        padding: 0 0.5em;
      }

      #web-services-about .bio {
        width: 100%;
        align-items: center;
      }

      #web-services-about .bio p {
        width: 90%;
      }

      #web-services-about h3 {
        text-align: center;
        font-size: 1.25em;
      }

      .arrow-down {
        display: flex;
        justify-content: center;
      }

      .arrow-down a {
        max-width: 20%;
        height: auto;
      }




   /* ==========================================================================
      Logo Design Page
      ========================================================================== */


      #logo-hero-area {
        background: url(../img/blank-canvas.jpeg);
        background-size: cover;
        background-position: center;
        min-height: 350px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
      }

      #logo-hero-area .content-wrapper {
        background-color: rgba(255, 255, 255, 0.5);
      }

      #logo-hero-area h1 {
        text-align: center;
      }


  /* ==========================================================================
      Brand & Identity Design Page
      ========================================================================== */


      #brand-hero-area {
        background: url(../img/color-swatches.jpeg);
        background-size: cover;
        background-position: center;
        min-height: 350px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
      }

      #brand-hero-area .content-wrapper {
        background-color: rgba(255, 255, 255, 0.75);
      }

      #brand-hero-area h1 {
        text-align: center;
      }

      /* Branding & Identify Designs Details */

      #style-guide-figure {
        display: flex;
        justify-content: center;
        margin: 1em 0;
      }

      .style-guide-img {
        max-width: 50%;
        height: auto;
        text-align: center;
      }

      .style-guide-img h4 {
        margin: 0.5em 0;
        font-size: 1em;
      }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width:768px) {
    /*Tablet styles here*/

    .content-wrapper {
      padding-top: 125px;
    }

    /* Main Nav */
    .topnav figure {
      padding: 2.5% 5%;
    }

    .menu-icon {
      padding: 7% 5% 5% 5%;
    }

    /* Hero Area */
    .hero-area {
      justify-content: flex-start;
      min-height: 450px;
    }

    .hero-area .content-wrapper {
      display: flex;
      align-items: center;
      padding: 1.5em 0.25em;
      font-size: 1.5em;
    }

    /* Services */
    #services {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
    }

    .services {
      justify-content: space-around;
      flex-flow: row wrap;
      width: 90%;
    }

    /* Services */
    #services {
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
    }

    #services h2 {
      width: 100%;
    }

    .service-outer-box {
      width: 200px;
      height: 200px;
      margin-left: 0;
      margin-right: 0;
    }

    .service-inner-box {
      width: 120px;
      height: 120px;
    }


    /* Contact */
    #contact-info p {
      background: #f5f5f5;
      padding: 2em;
    }

    /* Web Services Page */
    /* Hero Area */
    #web-hero-area {
      min-height: 500px;
    }


    /* Responsive Designs Section */

    #web-services-about article {
      display: flex;
      flex-flow: row nowrap;
    }

    #web-services-about #responsive-figure {
      width: 50%;
      display: flex;
      justify-content: center;
    }

    #web-services-about .bio {
      width: 50%;
      padding: 1em 1em 0 0;
    }

    .arrow-down a {
      max-width: 10%;
      height: auto;
    }

    /* Logo Design Services Page */
    /* Hero Area */

    #logo-hero-area {
      min-height: 500px;
    }

    /* Brand Design Services Page */
    /* Hero Area */

    #brand-hero-area {
      min-height: 500px;
    }


    #style-guide-figure {
      width: 50%;
      padding-top: 5em;
    }

}

@media only screen and (min-width:1000px) {
    /*Larger tablet styles here*/
    .content-wrapper {
      padding-top: 150px;
    }

    /* Hero area */
    .hero-area {
      min-height: 600px;
    }

    .hero-area .content-wrapper {
      padding: 5em 2em;
    }

    /* Portfolio */
    .slideshow-container {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    /* Contact */

   .footer-content {
     flex-flow: row wrap;
     justify-content: space-around;
   }

   .form {
     margin-bottom: 2em;
   }

   .direct-contact {
     padding-right: 2em;
   }

   #contact-info p {
     background: transparent;
   }

/* Brand Designs Page */

   #style-guide-figure {
     width: 50%;
     padding-top: 2em;
   }

}



@media only screen and (min-width:1200px) {
     /*Desktop styles here*/

     .content-wrapper {
       padding-top: 150px;
     }

     /* Main Nav */

     .topnav {
       display: flex;
       justify-content: space-between;
       flex-flow: row nowrap;
     }

     .topnav figure {
       padding: 1% 2.5%;
       width: 40%;
     }

     .menu-icon {
       display: none;
     }

     nav {
       display: flex;
       justify-content: center;
       flex-flow: row wrap;
       width: 35%;
     }

     .desktop-nav {
       display: flex;
       justify-content: center;
       flex-flow: row wrap;
       width: 100%;
     }

     .desktop-menu {
       display: flex;
       justify-content: space-around;
       flex-flow: row nowrap;
       width: 100%;
     }

     .desktop-menu li {
       text-transform: uppercase;
       font-size: 1.125em;

     }

     /* Hero area */
     .hero-area {
       min-height: 800px;
     }

     .hero-area .content-wrapper {
       padding: 5em 2em;
       justify-content: flex-start;
     }

     .hero-area .content-wrapper h1 {
       width: 50%;
       margin-left: 2em;
       font-size: 2em;
     }

     /* Services */
     #services {
       display: flex;
       justify-content: center;
       flex-flow: row wrap;
     }

     #services h2 {
       width: 100%;
     }

     .services {
       justify-content: space-around;
       flex-flow: row wrap;
       width: 90%;
     }

     .service-outer-box {
       width: 375px;
       height: 375px;
     }

     .service-inner-box {
       width: 215px;
       height: 215px;
     }

     .service-inner-box h3 {
       font-size: 1.5em;
     }

     /* About Me */
     #about article {
       justify-content: center;
       flex-flow: row nowrap;
     }

     #about figure {
       width: 50%;
       margin: 1em;
     }

     .bio {
       width: 50%;
       margin-left: 5em;
     }

     .bio p {
       margin: 0;
     }

/* Web Design Services Page */
/* Hero Area */

    #web-hero-area {
      min-height: 800px;
    }

     #web-hero-area h1 {
       width: 100%;
       margin: 0;
       padding-top: 1em;
       font-size: 2em;
     }

     /* Services Breakdown Section */

     .web-services-all {
       flex-flow: row nowrap;
       justify-content: center;
     }

     .web-service-individual {
       min-height: 515px;
       width: 25%;
       margin: 1em;
     }

     /* Responsive Designs Section */

     #web-services-about .bio {
       margin: 0;
     }

     .arrow-down a {
       max-width: 8%;
       height: auto;
     }

     /* Logo Design Services Page */
     /* Hero Area */

      #logo-hero-area {
       min-height: 800px;
     }

     #logo-hero-area h1 {
       width: 100%;
       margin: 0;
       padding-top: 1em;
       font-size: 2em;
     }

     /* Brand & Identity Design Services Page */
     /* Hero Area */

      #brand-hero-area {
       min-height: 800px;
     }

     #brand-hero-area h1 {
       width: 100%;
       margin: 0;
       padding-top: 1em;
       font-size: 2em;
     }

}

@media only screen and (min-width:1280px) {
     /*1280px Desktop styles here*/

     .web-service-individual {
       min-height: 475px;
     }
}

@media only screen and (min-width:1360px) {
     /*1360px Desktop styles here*/

     .web-service-individual {
       min-height: 440px;
     }
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
